#panel-content {
    background-color: $blue;
    //* List style
    ul {
      height: 16vh;
      //* List items style
      li a {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: $white;
        font-size: 14px;
        &:hover {
          transform: scale(1.1);
          text-shadow: 0 0 6px $white;
        }
      }
    }
  }