//// Footer button style
#bottom-footer button {
    border-radius: 0;
    border: 1px solid $blue;
    padding: 12px 10px;
    background-color: $grey;
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: $white;
      font-weight: bolder;
    }
    &:hover {
      background-color: $blue;
    }
  }