//// General footer style
#bottom-footer {
    background-color: #303030;
    height: 12vh;
    .container .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 12vh;
    }
  }